.book-list-container {
    padding: 20px;
}

.book-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
}
.book-grid :hover{
    background-color: #47A7D8;
}

.book-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #023f5dbb;
    gap: 15px;
    color: #181717;
}

.book-card h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.book-card .price {
    font-weight: bold;
    color: #82dd82;
}

.book-card-link {
    text-decoration: none;
    color: inherit;
}

.img-book {
    width: 20%;
}