.admin-page-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    box-sizing: border-box;
}

.admin-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.admin-page-header h1 {
    margin: 0;
}

.add-new-button {
    background-color: #023f5dbb;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-new-button:hover {
    background-color: #6991b9;
}


.table-container {
    overflow-x: auto;
    width: 100%;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #023f5dbb;
    min-width: 700px;
}

.admin-table th,
.admin-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

.admin-table thead {
    background-color: #090912;
}

.admin-table th {
    font-weight: 600;
}

.actions-cell {
    display: flex;
    gap: 10px;
}

.actions-cell button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #090912;
}

.actions-cell .edit-button:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.actions-cell .delete-button:hover {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
}

.search-bar-container {
    margin-bottom: 20px;
}

.search-input {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}


@media (max-width: 768px) {

    .admin-table {
        min-width: 0;
    }

    .hide-on-mobile {
        display: none;
    }

    .admin-table thead {
        display: none;
    }

    .actions-cell {
        width: 39%;
    }

    h1 {
        font-size: 2.2em;
        line-height: 1.1;
        margin-right: 9%;
    }

    body {
        display: block;
    }

    .search-input {
    width: 88%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

}